html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pointer.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); /* Adjust based on canvas height and text position */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}

#valentineImage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    max-width: 90%;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(45, 45, 255, 0.5);
    opacity: 0;
    z-index: 10;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

#valentineImage.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}